<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    
    <?php include '/views/common/style.html'?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/uploads/monkey.png" class="img-circle" alt="">
            </div>

            <form class="col-md-offset-1 col-md-10" id="loginForm">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" name="tc_name" id="tc_name" class="form-control" placeholder="用户名">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" name="tc_pass" id="tc_pass" class="form-control" placeholder="密码">
                </div>
                <input type="submit" value="登 录" class="btn btn-lg btn-primary btn-block" />
            </form>
        </div>
    </div>
    
    <?php include '/views/common/script.html'?>
    
    <script type="text/javascript">
        $('#loginForm').on('submit', function() {
            // 获取表单元素值的目的：为了拼接数据（data），发送到后台
            // 示例：tc_name=前端学院&tc_pass=123456
            // 这个方法是根据当前表单元素的 name 属性进行拼接的！
            var params = $(this).serialize();
            
            $.ajax({
                url: '/api/login?' + params,
                type: 'get',
                success: function( data ) {
                    // console.log(data);
                    // 根据返回的数据，判断是否登录成功！
                    if(data.code === 200) {
                        
                        // 将用户信息存储到 cookie 中了
                        $.cookie('userinfo', JSON.stringify(data.result));

                        // 跳转到首页！
                        location.href = '/';
                    } else {
                        alert('登录失败！！！')
                    }
                },
                error: function( err ) {
                    // console.log(err)
                    alert('登录失败！！！')
                }
            });

            // 取消事件冒泡和默认行为！
            return false;
        });



        // 完成登录功能
        // 需要使用 jQuery 的ajax方法，发送ajax请求到指定的接口
        // 拿到数据，做相应的处理！
        /*$.ajax({
            url: 'http://api.botue.com/v8/login',
            type: 'post',
            data: {
                tc_name: '',
                tc_pass: ''
            },
            success: function( data ) {
                console.log(data);
            }
        });*/

        // form 表单中，按 enter回车键，会自动触发，当前表单的 submit 事件！
        // form表单在提交的时候，会自动将当前form中具有name属性的表单元素，
        // 获取内容，并且以 url （get） 的形式进行提交！
        // http://studyit.com/login?tc_name=%E5%89%8D%E7%AB%AF%E5%AD%A6%E9%99%A2&tc_pass=1234456

        /*$('#loginForm').on('submit', function() {
            // 获取表单元素值的目的：为了拼接数据（data），发送到后台

            var tc_name = $('#tc_name').val(),
                tc_pass = $('#tc_pass').val();
            
            $.ajax({
                url: '/api/login',
                type: 'post',
                data: {
                    tc_name: tc_name,
                    tc_pass: tc_pass
                },
                success: function( data ) {
                    // console.log(data);
                    // 根据返回的数据，判断是否登录成功！
                    if(data.code === 200) {
                        // 跳转到首页！
                        location.href = '/';
                    } else {
                        alert('登录失败！！！')
                    }
                },
                error: function( err ) {
                    // console.log(err)
                    alert('登录失败！！！')
                }
            });

            // 取消事件冒泡和默认行为！
            return false;
        });*/

        // XMLHttpRequest cannot load http://api.botue.com/v8/login. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://studyit.com' is therefore not allowed access.
        // 
        // 当前信息的意思，就表示跨域了！！！

        // 解决跨域的方式：
        // 1 jsonp
        // 2 反向代理
        
        // 只有浏览器端（ajax）才有跨域的问题，其他服务端的一些操作是没有
        // 跨域限制的！
        
    </script>
</body>
</html>